body {
    font-family: Verdana. Arial. sans-serif;
    background-color: #ddd;
}

h1 {
    color: #00D;
}

li {
    display: inline-block;
}

a:link { color: blue; } 

a:visited { color: orange; }    

a:hover { color: maroon; }    

a:active { color: red; }